/*.topnav {
    background-color: white;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: grey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}*/
body {
    background-color: #F2F2F2;
}
main {
    color: #211F1F;
    font-family: 'Istok Web', sans-serif;
}
header {
    text-align: center;
    font-size: 32px;
    font-family: 'Istok Web', sans-serif;
    
}

.about-me {
    padding: 20px;
    overflow: auto;
    background-color: #D9C1BD;
    background: linear-gradient(#D9C1BD 0, #F2F2F2 100%);
}

.about-me-left-side {
    width: 48%;
    text-align: center;
    margin-top: 40px;
    float: left;
    font-size: 48px;
}

.about-me-right-side {
    width: 48%;
    float: right;
    margin-top: 120px;
    padding-right: 20px;
    
}

.intro-paragraph {
    font-family: 'IBM Plex Sans', sans-serif;
}

.image-placeholder {
    width: 100px;
    height: 100px;
    display: block;
}

.project1, .project2, .project3 {
    background-color: light-grey;
    width: 90%;
    padding: 30px;
    overflow: auto;
    display: block;
    font-family: 'IBM Plex Sans', sans-serif;
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
      
}

.project2 {
    right: 0;
    
    
}

.project1-image {
    height: 150px;
    width: 150px;
    float: left;
}

.project1-text-wrapper, .project3-text-wrapper {
    width: 50%;
    float: right;
}

.project1-text {
    text-align: right;
    display: inline-block;
}

.project2-text-wrapper {
    float: left;
    width: 50%
}

.image-placeholder2 {
    float: right;

}

.project2-image {
    float: right;
    width: 150px;
    height: 150px;
}

.project3-image {
    float: left;
    height: 150px;
    width: 150px;
}

footer {
    width: 90%;
    height: 50px;
    font-size: 48px;
    padding: 10px 5px 10px;
    left:0;
    right:0;
    margin: auto;
    text-align: center;
}

.fab {
    

}

.fa-linkedin-in, .fa-github, .fa-envelope {
    color: #A9C2B0;
    text-shadow: -1px 0 #211F1F, 0 1px #211F1F, 1px 0 #211F1F, 0 -1px #211F1F;
}



@media only screen and (max-width: 620px) {
    .about-me-left-side {
        width: 90%;
        text-align: center;
        margin-top: 20px;
        display: block;
        left: 0;
        right: 0;
        margin: auto;
        border: 1px solid black;
        float: none;
    }
    
    .about-me-right-side {
        width: 90%;
        float: none;
        border: 1px solid black;
        display: block;
        left: 0;
        right: 0;
        margin: auto;
        
    }
    .project1-image, .project2-image, .project3-image {
       display: block;
       float: none;
       left: 0;
       right: 0;
       margin: auto;
   }
   .project1-text, .project2-text, .project3-text {
       text-align: center;
   }
   .project1-text-wrapper, .project2-text-wrapper, .project3-text-wrapper {
    float: none;
    display: block;
    width: 90%;
    left: 0;
    right: 0;
    margin: auto;
}
}