body {
    background-color: #F2F2F2;
    
}
main {
    color: #211F1F;
    font-family: 'Istok Web', sans-serif;
}
header {
    text-align: center;
    font-size: 32px;
    font-family: 'Istok Web', sans-serif;
    
}

.about-me {
    padding: 10px;
    background: linear-gradient(#D9C1BD 0, #F2F2F2 100%);
    height: 350px;
    background-color: #D9C1BD;
    
    
}

.about-me-left-side {
  
    width: 48%;
    text-align: center;
    margin-top: 40px;
    float: left;
    font-size: 48px;
    position: relative;   
}

.about-me-right-side {
    width: 40%;
    float: right;
    margin-top: 120px;
    padding-right: 40px;
    
}
.name {
    display: block;
    margin-top: 70px;
}
.intro-paragraph {
    font-family: 'IBM Plex Sans', sans-serif;
}

.top-icons-wrapper {
    position: absolute;
    
    display: block;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -10px;
    
   
}

.line-break {
    width: 80%;
    background-color: #211F1F;
    height: 3px;
    border: none;
    display: block;
}

.line-break-project {
    border: 0; 
    height: 1px; 
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    width: 80%;
}

.project1, .project2, .project3, .project4 {
    width: 90%;
    padding: 30px;
    overflow: auto;
    display: block;
    font-family: 'IBM Plex Sans', sans-serif;
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
      
}
.project1 {
    margin-top: 40px;
}

.project1-image {
    width: 391px;
    height: 247px;
    
    float: left;
}

.project1-text-wrapper, .project3-text-wrapper {
    width: 50%;
    float: right;
}

.project2-text-wrapper, .project4-text-wrapper {
    float: left;
    width: 50%;
}

.project2-image {
    float: right;
    width: 350px;
    height: 250px;
}


.project3-image {
    float: left;
    height: 230px;
    width: 230px;
    margin-left: 80px;
}

.project4-image {
    float: right;
    height: 200px;
    width: 300px;
    
}

footer {
    width: 90%;
    height: 50px;
    font-size: 48px;
    padding: 10px 5px 10px;
    left:0;
    right:0;
    margin: auto;
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
    margin-top: 30px;
    margin-bottom: 120px;
}
.fa-envelope {
    cursor: pointer;
}

.fa-envelope, .fa-linkedin-in {
    margin-right: 30px;
}

.fa-envelope, .fa-linkedin-in, .fa-github  {
    color: #a9c2b0;
    text-shadow: -1px 0 #211F1F, 0 1px #211F1F, 1px 0 #211F1F, 0 -1px #211F1F;
}
.bottom-icon-wrapper {
    display: block;
    margin-top: 10px;
}



@media only screen and (max-width: 620px) {
    .about-me {
        margin-top: 0;
        padding: 20;
        height: 450px;
        
    }
    
    .about-me-left-side {
        width: 90%;
        text-align: center;
        margin-top: 20px;
        left: 0;
        right: 0;
        margin: auto;
        float: none;
        height: 160px;
    }
    .name {
        display: block;
    }
    .top-icons-wrapper {
        
        display: block;
        position: relative;
        
        left: 0;
        right: 0;
        margin: auto;
        bottom: 70px;
        }
    
    .about-me-right-side {
        width: 90%;
        float: none;
        display: block;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
        margin-top: 20px;
        padding-right: 0;
        
    }

    .project1, project2, project3, .project4 {

        padding: 0;
    }
    .project1-image, .project2-image, .project3-image, .project4-image {
       display: block;
       float: none;
       left: 0;
       right: 0;
       margin: auto;
       width: 90%;
       height: 90%;
   }
   .project1-text, .project2-text, .project3-text, .project4-text {
       text-align: center;
   }
   .project1-text-wrapper, .project2-text-wrapper, .project3-text-wrapper, .project4-text-wrapper {
    float: none;
    display: block;
    width: 90%;
    left: 0;
    right: 0;
    margin: auto;
}
    .bottom-icon-wrapper {
        display: block;
    }
}