body {
    background-color: #F2F2F2;
    
}
main {
    color: #211F1F;
    font-family: 'Istok Web', sans-serif;
}

header {
    text-align: center;
    font-size: 32px;
    font-family: 'Istok Web', sans-serif;
}

.about-me {
    padding: 10px;
    background: linear-gradient(#D9C1BD 0, #F2F2F2 100%);
    background-color: #D9C1BD;
    display: flex;
    flex-direction: row;
    justify-content: space-around;   
}

.about-me-left-side {
    display: flex;
    flex-direction: column;
    order: 1;
    flex: 1;
    font-size: 48px;
    justify-content: center;
   
}

.about-me-right-side {
    display: flex;
    flex-direction: column;
    order: 2;
    flex: 1;
    justify-content: center;
    
}

.name {
    order: 1;
    text-align: center;
}

.intro-paragraph {
    font-family: 'IBM Plex Sans', sans-serif;
    order: 1;
    margin-right: 20%;
}

.top-icons-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    order: 2;
    margin-top: -40px;
}

.line-break {
    width: 80%;
    background-color: #211F1F;
    height: 3px;
    border: none;
    display: block;
}

.line-break-project {
    border: 0; 
    height: 1px; 
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    width: 80%;
}

.project1, .project2, .project3, .project4 {
    width: 90%;
    padding: 30px;
    overflow: auto;
    display: flex;
    font-family: 'IBM Plex Sans', sans-serif;
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
    justify-content: space-evenly;
      
}
.project1 {
    margin-top: 40px;
}

.project1, .project3 {
    flex-direction: row;
}
.project2, .project4 {
    flex-direction: row-reverse;
}

.countrysearch-image, .tictactoe-image, .exerciselogger-image, .statecapitalquiz-image {
    order: 1;
}

.statecapitalquiz-image {
    width: 391px;
    height: 247px;    
}

.project1-text-wrapper, .project2-text-wrapper, .project3-text-wrapper, .project4-text-wrapper {
    width: 50%;
    order: 2;
}

.countrysearch-image {
    width: 350px;
    height: 250px;
}


.tictactoe-image {
    height: 230px;
    width: 230px;
}

.exerciselogger-image {
    height: 200px;
    width: 300px;
    
}

footer {
    width: 90%;
    height: 50px;
    padding: 10px 5px 10px;
    left:0;
    right:0;
    margin: auto;
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
    margin-top: 30px;
    margin-bottom: 120px;
}

.fa-envelope {
    cursor: pointer;
    order: 1;
    margin-top: 5px;
}

.fa-linkedin-in {
    order: 2;
}

.fa-github {
    order: 3;
}

.fa-envelope, .fa-linkedin-in, .fa-github  {
    color: #1f2d27;
    text-shadow: -1px 0 #211F1F, 0 1px #211F1F, 1px 0 #211F1F, 0 -1px #211F1F;
}

.contact-text {
    font-size: 48px;
}

.bottom-icon-wrapper {
    display: flex;
    font-size: 48px;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: -20px;
    width: 70%;
    justify-content: space-evenly;
    margin-bottom: 50px;
}



@media only screen and (max-width: 620px) {
    .about-me {
        margin-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .about-me-left-side {
        display: flex;
        order: 1;
        flex-direction: column;
        margin-top: 20px;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
        width: 100%;

    }

    .name {
        order: 1;
    }

    .top-icons-wrapper {
        order: 2;
        text-align: center;
        justify-content: space-evenly;
    }
    
    .about-me-right-side {
        order: 2;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
        margin-top: 20px;
        padding: 5px;
        
    }

    .intro-paragraph {
        text-align: justify;
        text-justify: inter-word;
        text-align-last: center;
        margin-left: 10px;
        margin-right: 10px;
    }

    .project1, .project2, .project3, .project4 {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .countrysearch-image, .tictactoe-image, .exerciselogger-image, .statecapitalquiz-image {
       order: 1;
       width: 90%;
       height: 90%;
       margin-top: 15px;

   }

   .project1-text-wrapper, .project2-text-wrapper, .project3-text-wrapper, .project4-text-wrapper {
        order: 2;
        width: auto;
        text-align: justify;
        text-justify: inter-word;
        text-align-last: center;
    }

    footer {
        margin-top: 0px;
    }

    .bottom-icon-wrapper {
        width: auto;
    }

}